{% extends "public/^core/base.html" %}

{% block content %}
<article class="article-detail container">
    <header class="article-header">
        <h1>{{ publication.title }}</h1>
        <div class="article-meta">
            <span>{{ publication.published_at.strftime('%d.%m.%Y') if publication.published_at else publication.created_at.strftime('%d.%m.%Y') }}</span>
            {% if publication.category %}<span>{{ publication.category.title }}</span>{% endif %}
        </div>
    </header>
    <div class="article-content">{{ publication.content|safe_rich_text }}</div>
</article>
{% endblock %}
